<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'home' %}">Receipts</a>
        </li>
        <li>
          <a href="{% url 'receipt_create' %}">Create receipt</a>
        </li>
        <li>
          <a href="{% url 'accounts_list' %}">Accounts</a>
        </li>
        <li>
          <a href="{% url 'account_create' %}">Create Account</a>
        </li>
        <li>
          <a href="{% url 'categories_list' %}">Catergories</a>
        </li>
        <li>
          <a href="{% url 'category_create' %}">Create category</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">login</a>
        </li>
        <li>
          <a href="{% url 'sign_up' %}">signup</a>
        </li>
        {% endif %}
      </ul>
      </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>
</html>