{% extends 'base.html' %}
{% block content %}
<h2>Create Catergory</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button>Create</button>
    </div>
</form>
{% endblock content %}